.DS_Store
HADAD-PACB/Backchase/.DS_Store
HADAD-PACB/Backchase/.settings/
HADAD-PACB/Backchase/.classpath
HADAD-PACB/Backchase/.project
HADAD-PACB/Backchase/target
HADAD-PACB/Chase/.DS_Store
HADAD-PACB/Chase/.settings/
HADAD-PACB/Chase/.classpath
HADAD-PACB/Chase/.project
HADAD-PACB/Chase/target
HADAD-PACB/CB/.DS_Store
HADAD-PACB/CB/.settings/
HADAD-PACB/CB/.classpath
HADAD-PACB/CB/.project
HADAD-PACB/CB/target
HADAD-PACB/plugins.xml
